.container-paginator {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pages {
    
    color: #D9D9D9;
    margin-top: auto;
    margin-bottom: auto;
}

span {
    color: #D9D9D9;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
  