.poke-type {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.normal {
    background-color: #c6c6a7;
}

.fighting {
    background-color: #d67873;
}

.flying {
    background-color: #c6b7f5;
}

.poison {
    background-color: #c183c1;
}

.ground {
    background-color: #ebd69d;
}

.rock {
    background-color: #d1c17d;
}

.bug {
    background-color: #c6d16e;
}

.ghost {
    background-color: #a292bc;
}

.steel {
    background-color: #d1d1e0;
}

.fire {
    background-color: #f5ac78;
}

.water {
    background-color: #9db7f5;
}

.grass {
    background-color: #a7db8d;
}

.electric {
    background-color: #fae078;
}

.psychic {
    background-color: #fa92b2;
}

.ice {
    background-color: #bce6e6;
}

.dragon {
    background-color: #a27dfa;
}

.dark {
    background-color: #a29288;
}

.fairy {
    background-color: #f4bdc9;
}

.normal,
.fighting,
.flying,
.poison,
.ground,
.rock,
.bug,
.ghost,
.steel,
.fire,
.water,
.grass,
.electric,
.psychic,
.ice,
.dragon,
.dark,
.fairy {
    color: #f2f2f2;
    text-shadow: 2px 1px 2px #000;
    width: 80px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}


@media (max-width: 380px) {
    .poke-type {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .normal,
    .fighting,
    .flying,
    .poison,
    .ground,
    .rock,
    .bug,
    .ghost,
    .steel,
    .fire,
    .water,
    .grass,
    .electric,
    .psychic,
    .ice,
    .dragon,
    .dark,
    .fairy {
        font-size: 14px;
        width: 70px;
    }
}