@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: #D9D9D9;
}

html {
  background-color: #1E1E1E;
}