* {
  margin: 0;
}

nav {
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
  flex-direction: row;
}

.container-search {
  display: flex;
  gap: 15px;
}

.navbar-logo {
  width: 140px;
}

.btn-search {
  border-radius: 10px;
}

.card-pokemon {
  display: flex;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}


.poke-type {
  display: flex;
  gap: 15px;
}

.poke-ability-txt, .poke-name {
  text-transform: capitalize;
}

.img-pokemon {
  width: 100px;
  height: 100px;
}

.poke-ability {
  display: flex;
  gap: 15px;
}


@media only screen and (max-width: 600px) {
  .pokedex-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  .card-pokemon {
    margin: auto;
  }
}