* {
  margin: 0;
}

html {
  background-color: #1E1E1E;
}

nav {
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
  flex-direction: row;
}

.container-search {
  display: flex;
  gap: 15px;
}

.navbar-logo {
  width: 140px;
}

.btn-search {
  border-radius: 10px;
}

.card-pokemon {
  display: flex;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.poke-type {
  display: flex;
  gap: 20px;

}

.poke-ability-txt, .poke-name {
  text-transform: capitalize;
}

.img-pokemon {
  margin-left: 15px;
  width: 100px;
  height: 100px;
}

.poke-ability {
  display: flex;
  gap: 15px;
}

.card-pokemon {
  width: 400px;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(124, 124, 124);
}

.poke-type-txt {
  background-color: blueviolet;
  width: 80px;
  text-align: center;
}

.card {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.pokedex-header, .container-paginator {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .pokedex-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .card-pokemon {
    margin: auto;
  }
}